@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&family=Ubuntu:wght@300;400;500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    height: 100dvh;
    background-color: #fff;
}

#header {
    margin: 0 auto;
    padding: 20px;
    background-color: aliceblue;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#header > h3 {
    margin: 0;
    font-family: 'Rubik', sans-serif;
    font-size: 26px;
    font-weight: 500;
    text-transform: uppercase;
}

.header--nav ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header--nav ul li {
    padding: 0 10px;
    list-style-type: none;
    font-family: poppins;
    font-size: 12px;
    text-transform: uppercase;
}

.header--nav ul li a {
    text-decoration: none;
    color: black;
}

.header--nav ul li a:hover{
    color: rgb(225, 68, 11);
    font-weight: bold;
}

#hero {
    padding: 0 40px;
    margin: 0 auto;
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content:center;
    background-color: rgba(253, 253, 253, 0.735);
}



.text h1 {
    font-family: rubik;
    font-size: 30px;
    text-transform: uppercase;
    color: rgb(3, 3, 98);
}

.text p{
    font-family: poppins;
    font-size: 18px;
    font-weight: 400
}

button.hire {
    width: 100%;
    padding: 10px 40px;
    margin-top: 15px;
    background-color: #027180;
    color: #fff;
    font-weight: 500;
    border-radius: 3px;
    border: none;
    font-size: 17px;
    text-transform: uppercase;
    font-family: rubik;
    box-shadow: 0px 2px 2px 1px #8c8a8a88;
    transition: transform;
    cursor: pointer;
}

button.hire:hover{
    background-color: rgb(225, 68, 11);
    color: white;
    border: none;
    transform: scale(1.05);
}

#about {
    height: 300px;
    margin: 0 auto;
    margin-top: 40px;
    padding: 20px 30px;
    background-color: aliceblue;
}

#about > h3 {
    text-align: center;
    font-size: 24px;
    font-family: rubik;
    font-weight: 500;
    text-transform: uppercase;
    padding: 20px 0;
}

#about p {
    width: 70%;
    margin: 0 auto;
    text-align: center;
    font-family: poppins;
    font-size: 16px;
}

#skills {
    margin: 0 auto;
    margin-top: 50px;
    padding: 50px 30px;
    background-color: rgba(210, 220, 228, 0.522);
}
#skills > h3 {
    text-align: center;
    font-size: 24px;
    font-family: rubik;
    font-weight: 500;
    text-transform: uppercase;
    padding: 20px 0;
}

#skills .skill--grid {
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 50px);
    gap: 20px;
    padding-bottom: 20px;
}

#skills .skill--grid li {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10PX 20PX;
    background-color: #0facc1;
    color: #fff;
    list-style-type: none;
    font-size: 20px;
    text-transform: uppercase;
    font-family: poppins;
}

#projects {
    margin: 0 auto;
    margin-top: 50px;
    padding: 40px 30px;
    background-color: rgba(173, 224, 248, 0.485);
}

#projects > h3 {
    text-align: center;
    font-size: 24px;
    font-family: rubik;
    font-weight: 500;
    text-transform: uppercase;
    padding: 20px 0;
    color: rgb(225, 68, 11);
}

#projects .project--container{
    width: 80%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#projects .project--container .project1 {
    width: 50%;
    background-color: #fff;
    padding: 30px;
    border-radius: 5px;
    margin-right: 30px;
    box-shadow: 0px 2px 2px 1px #8c8a8a88;

}

#projects .project--container .project1 >h4 {
    text-align: center;
    font-size: 20px;
    font-family: rubik;
    font-weight: 500;
    text-transform: uppercase;
    padding: 10px 0;
    color: #0749a4;
}
#projects .project--container .project1 > p {
    text-align: center;
    font-family: poppins;
    font-size: 16px;
    line-height: 22px;
}



#projects .project--container .project2 {
    width: 50%;
    background-color: #fff;
    padding: 30px;
    border-radius: 5px;
    box-shadow: 0px 2px 2px 1px #8c8a8a88;

}

#projects .project--container .project2 >h4 {
    text-align: center;
    font-size: 20px;
    font-family: rubik;
    font-weight: 500;
    text-transform: uppercase;
    padding: 10px 0;
    color: #0749a4;
}

#projects .project--container .project2 > p {
    text-align: center;
    font-family: poppins;
    font-size: 16px;
    line-height: 22px;
}

#experiences {
    margin: 0 auto;
    margin-top: 50px;
    padding: 20px 30px;
    background-color: rgba(210, 220, 228, 0.522);
}

#experiences > h3 {
    text-align: center;
    font-size: 24px;
    font-family: rubik;
    font-weight: 500;
    text-transform: uppercase;
    padding: 20px 0;
}

#experiences .experience--container {
    width: 90%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 50px;
}


#experiences .experience--container .work-experience {
    width: 40%;
    background-color: #fff;
    padding: 30px;
    border-radius: 5px;
    box-shadow: 0px 2px 2px 1px #8c8a8a88;
    margin-right: 20px;
}

#experiences .experience--container .work-experience h4 {
    color: #0749a4;
    font-family: rubik;
    text-align: center ;
    text-transform: uppercase;
    font-size: 18px;
}

#experiences .experience--container .work-experience h5{
    text-align: center;
    margin-top: 5px;
    font-size: 14px;
    font-family: poppins;
    text-transform: uppercase;
}
#experiences .experience--container .work-experience p{
    text-align: center;
    margin-top: 5px;
    font-size: 14px;
    font-size: poppins;
    font-weight: 300;
}

#experiences .experience--container .work-experience p em {
    color: red;
    font-family: rubik;
    font-size: 10px;
    font-weight: 400;
    margin-bottom: 10px;
}


#contact{
    width: 90%;
    margin: 0 auto;
    padding: 20px;
}


#contact h3 {
    text-align: center;
    font-family: rubik ;
    font-size: 24px;
    text-transform: uppercase;
    padding: 20px 0;
}

.contact-info{
    width: 50%;
    margin: 0 auto;
}

.contact-info ul{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.contact-info ul li {
    list-style-type: none;
    font-family: poppins;
    transition: transform;
}

.contact-info ul li:hover{
    color: #0749a4;
    font-weight: 400;
    transform: scale(1.05);
}

.contact-form {
    width: 50%;
    margin: 0 auto;
    padding-bottom: 20px;
}

.contact-form h4 {
    text-align: center;
    font-size: 20px;
    text-transform: uppercase;
    font-family: poppins;
    padding: 10px 0;
    color: #0c9bad;
}


.contact-form form label {
    display: block;
    font-family: poppins;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 500;
    padding: 10px 0;
}
.contact-form form input {
    width: 100%;
    padding: 10px;
    margin: 0 auto;
    /* margin-top: 10px; */
}

.contact-form form textarea{
    width: 100%;
}

.form-submit {
    width: 100%;
    padding: 10px 40px;
    margin-top: 15px;
    background-color: #027180;
    color: #fff;
    font-weight: 500;
    border-radius: 3px;
    border: none;
    font-size: 17px;
    text-transform: uppercase;
    font-family: rubik;
    box-shadow: 0px 2px 2px 1px #8c8a8a88;
    transition: transform;
    cursor: pointer;
}

.form-submit:hover {
    transform: scale(1.02);
    background-color: #0c9bad;
}

footer{
    width: 100%;
    padding: 15px 0;
    background-color: #063b85;
}

footer p {
    text-align: center;
    color: #fff;
}

